<head>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
        }

        .recipe-card {
            text-align: center;
        }

        .recipe-image {
            width: 100%;
            max-width: 300px;
            height: auto;
        }
    </style>
</head>
<h1>Featured Recipes</h1>
<div class="grid-container">
    <div class="recipe-card">
        <a href="https://jainrecipes.github.io/2020/12/18/walnut-raisin-bread/">
          <h2>Walnut Raisin Bread</h2>
          <img class="recipe-image" src="images/2020-12-18-walnut-raisin-bread.jpg" alt="Recipe 1">
        </a>
    </div>
    <div class="recipe-card">
        <a href="https://jainrecipes.github.io/2020/12/19/pizza-dough/">
          <h2>Pizza Dough</h2>
          <img class="recipe-image" src="images/2020-12-18-pizza-dough.jpg" alt="Recipe 3">
        </a>
    </div>
    <div class="recipe-card">
        <a href="https://jainrecipes.github.io/2020/12/25/chia-pudding/">
          <h2>Chia Pudding</h2>
          <img class="recipe-image" src="images/2020-12-25-chia-pudding.jpg" alt="Recipe 4">
        </a>
    </div>
    <div class="recipe-card">
      <a href="https://jainrecipes.github.io/2020/12/28/udon-noodles/">
        <h2>Udon Noodles</h2>
        <img class="recipe-image" src="images/2020-12-28-udon-noodles.jpg" alt="Recipe 2">
      </a>
  </div>
</div>
